EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=hocapp-44760.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=hocapp-44760
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=hocapp-44760.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=143237037612
EXPO_PUBLIC_FIREBASE_APP_ID=1:143237037612:web:847190a1071da92c031b89
EXPO_PUBLIC_FIRESTORE_DATABASE_ID=anotes
EXPO_PUBLIC_API_URL=https://anotes.web.app
# Local debug / expo run:android Android OAuth client.
# EAS build profiles already ship with the non-debug client derived from the
# registered SHA1 d1da8de8c1a53582915aea1ddb51f8e5392cf35c.
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=143237037612-etj2lbdph46vk6u58taa7hm329fv99sm.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=143237037612-hc8jrc15e2ibh2vgg5d6uj4a0j7ejb4l.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=143237037612-a95vks10tuuaeeab9ekpk0kf4mng06r2.apps.googleusercontent.com